.main
	.btn-nav.center home
	.btn-nav.center
		i.fa.fa-arrow-up
	.btn-nav.center info
	.btn-nav.right
		i.fa.fa-arrow-left
	.btn-nav.center select
	.btn-nav.left
		i.fa.fa-arrow-right
	.btn-nav.center back
	.btn-nav.center
		i.fa.fa-arrow-down
	.btn-nav.center menu